<h2 *ngIf="status!=null">ERROR: {{status.message}}</h2>
<div *ngIf="status==null">
  <h2>Users</h2>
  <h3>Showing {{oPage.numberOfElements}} of total {{oPage.totalElements}} users.</h3>

  <div class="card">
    <p-table [value]="oPage.content" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>ID</th>
          <th (click)="doOrder('title')">Title</th>
          <th (click)="doOrder('body')">Body</th>
          <th>Id_User</th>
          <th>Id_Thread</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-u>
        <tr>
          <td>{{u.id}}</td>
          <td><a [routerLink]="['/admin','reply','view',u.id]">{{u.title}}</a></td>
          <td>{{u.body}}</td>
          <td><a [routerLink]="['/admin','user','view',u.user.id]">{{u.user.id}}</a></td>
          <td><a [routerLink]="['/admin','thread','view',u.thread.id]">{{u.thread.id}}</a></td>
        </tr>
      </ng-template>
    </p-table>


    <div class="card flex justify-content-center">
      <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oPage.totalElements" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>

  </div>
</div>